@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@700&display=swap');

:root {
    --merriweather: 'Merriweather', serif;
    --inter: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, body,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

* {
    box-sizing: border-box;
}

.container {
    width: 1440px;
    margin: 0 auto;
    background-color: #000000; 
}

html {
    font-family: var(--inter);
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
}

/* start styles for header */
.header__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 90px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    background-size: contain;
    background-repeat: no-repeat;  
    transition: 0.3s;
}

.logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.nav__top {
    margin-left: auto;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    height: 50px;

}

.nav__item {
    list-style: none;
}

.nav__link {
    font-size: 2.0rem;
    line-height: 5.0rem;
    text-decoration: none;
    color: #FFFFFF;
}

.lang {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 2.0em;
    line-height: 5.0rem;
    font-weight: 700;
    width: 70px;
    margin-right: 20px;
}

.lang_item {
    color: #BDAE82;
}
/* end styles for header */

/* start styles for hero */
.hero__container {
    background: url(assets/img/bg.jpg) no-repeat center;
    background-size: cover;
    margin-top: -90px;
}

.hero__title {
    padding-top: 250px;
    margin-left: 80px;
    padding-bottom: 336px; 
    width: 500px;
}

/* for all h1-h2 **/
.section__title {
    font-family: var(--merriweather);
    font-weight: 700;
    color: #BDAE82;
}
/*end for all h1-h2*/

.main__title {
    font-size: 6.0rem;
    line-height: 12.0rem;
    color: #FFFFFF;
    margin-bottom: 10px;

}

.hero p {
    font-size: 2.0rem;
    line-height: 4.0rem;
    width: 470px;
    margin-bottom: 25px;
}

.gold_button {
    width: 220px;
    height: 55px;
    padding: 0;
    font-family: var(--inter);
    font-weight: 400;
    font-style: normal;
    font-size: 2.0rem;
    line-height: 4.0rem;
    color: #000000;
    background-color: #BDAE82;
    border: 0;
}
/* end styles for hero */